page-booking {
    .content{
        height:inherit;
    }
    
    .button{
        margin-top: 16px;
        font-size: 20px;
    }
    .par{
        text-align: right;
    }
    
    .hetto{
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        padding-left: 16px;
    }
        }
    