page-booking-status {
    .fontChange{
font-size: 18px;
}
.fontContent{
    font-size: 15px;
    color: black;
    }
.fontStatusAccept{
    font-size: 15px;
    color: rgb(11, 138, 11);
    font-weight: bolder;
    padding-bottom: 20px;
    }
.fontStatusDecline{
    font-size: 15px;
    color: rgb(214, 23, 23);
    font-weight: bolder;
    padding-bottom: 20px;
    }
.fontStatusReqDel{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding-bottom: 20px;
    }

    .changeColor{
        background-color: rgba(100, 91, 91, 0.658);
    }
}
