page-profile-update {
    .testing{
        position: absolute;
        z-index: 5;
        top: 3%;
        left: 33%;
     }

        .profilepicsize  {
            margin: auto;
            width: 35vw;
            height: 35vw;
            border-radius: 50%; // half for rounding */
            object-fit: cover; /* Scale the image - Center and crop image*/
            object-position: center; /* Center the image within the element - Center and crop image*/
        }
}
