page-chat {
  .comment {
    display: inline-block;
    padding: 5px 8px 6px;
    background: color($colors, 'primary');
    color: white;
    border-radius: 5px;
    
  }
  .username {
    font-weight: bold;
    font-size: 80%;
  }

  .text{
    font-size: 20px;
  }

  .sendbutton button{
    margin-top: 10px;
    max-height:30px;
    border-radius: 7px;
  }

  ion-toolbar{
    max-height: 40px;
  }
  
  .button[icon-only] {
    padding: 0;
    min-width: 30px;
  }
}
