page-home {
    .iconEdit
    {
        font-size: 20px;
        color: #d03e84;
    }
    .fontEdit
    {
        font-size: 15px;
    }

    .row{
        padding-left:2px;
        padding-right:2px;
        padding-top:6px;
    }
}
